<header class="brand">
    <h1 class="page-title">{{@site.title}}</h1>
    <h2 class="page-description">{{@site.description}}</h2>
    <div class="hamburger" id="hamburger-1">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
    <nav class="navbar-menu">
        <div class="container">
            <div class="navbar-menu">
                <div class="mobiletitle">
                    <h3 class="mobile-title">{{@site.title}}</h3>
                </div>
                {{navigation}}
            </div>
        </div>
    </nav>
</header>